# IDEs
.vscode/
.idea/

# Python virtual environments
venv/
env/

# Python compiled files
*.py[cod]
__pycache__/

# Node.js compiled files
node_modules/

# Lock files
package-lock.json

# System files
.DS_Store
